$SIDEBAR_WIDTH: 430px
$CONTENT_HEIGHT: 780px
$CONTROL_OFFSET: 110px

.map
  position: absolute
  top: 0
  left: $SIDEBAR_WIDTH
  width: 1920px - $SIDEBAR_WIDTH
  height: $CONTENT_HEIGHT
  background-color: #469fae //#cfe7eb

.map-label
  font-size: 80%
  padding-left: 5px
.landforms
  fill: #d6ccc2
  stroke: #d6ccc2

.heatmap
  fill: url(#radial-gradient)
  .transitLine
    stroke: #000000
.cmoa
  .heatmap
    fill: url(#cmoa-radial-gradient)
    .transitLine
      stroke: #FF0000

.transitLine 
  stroke-linecap: round

.control_section .star.disabled
  .star_symbol
    opacity: 1
    fill: #c50000
    font-size: 150%
  text
    fill: #000 
     
.TouchTable .movingBar
  fill: #c50000