$SIDEBAR_WIDTH: 430px
$CONTENT_HEIGHT: 780px
$CONTROL_OFFSET: 110px


.map
  position: absolute
  top: 0
  left: $SIDEBAR_WIDTH
  width: 1920px - $SIDEBAR_WIDTH
  height: $CONTENT_HEIGHT

.land
  fill: #ddd
  stroke: #ddd