.Dashboard {
  background-color: #F2F2F2;
  padding-bottom: 0.5rem; }
  .Dashboard::after {
    display: block;
    content: "";
    clear: both; }
  .Dashboard .current_date {
    text-align: center;
    font-size: 2rem; }
  .Dashboard dl {
    margin-top: 1rem; }
    .Dashboard dl::after {
      display: block;
      content: "";
      clear: both; }
  .Dashboard dt {
    float: left;
    width: 35%;
    text-align: right;
    font-weight: bold;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    height: 1.25rem; }
  .Dashboard dd {
    float: right;
    width: 60%;
    margin: 0;
    height: 1.25rem; }
