@font-face {
  font-family: "Proforma";
  src: url("./assets/proforma-book-webfont.ttf"); }

html {
  font-size: 20px;
  background-color: #410c0c;
  box-shadow: 0 0 120px 20px #000 inset;
  height: 100%;
  perspective: 2000px;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: Proforma;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

img {
  -webkit-user-drag: none; }

#root {
  height: 100%; }

p {
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h2 {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 1.1rem;
  margin-bottom: .25rem; }
