@font-face 
  font-family: "Proforma";
  src: url("./proforma-book-webfont.ttf");

html
  font-size: 20px
  background-color: darken(#6c1414,10)
  box-shadow: 0 0 120px 20px #000 inset
  height: 100%
  perspective: 2000px

body 
  margin: 0
  font-family: Proforma
  height: 100%

#root
  height: 100%
